/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html,
body {
    background-color: #fffaf0;
}

.header {
    margin: 0 auto;
    position: relative;
    border-bottom: 2px solid whitesmoke;
    height: 160px;
    background-image: url(/static/img/body_texture.jpg);
}

.container {
    width: 100%;
    background-color: #282a3b;
    margin: 0 auto;
    max-width: 1536px;
}

.description {
    width: 600px;
    float: right;
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
    display: block;
    margin-top: 30px;
}

.productImage {
    margin: 50px;
    outline: 2px solid darkslateblue;
    width: 300px;
    height: 400px;
    float: left;
}

.related-products {
    margin-bottom: 120px;
    float: left;
}

.title {
    margin: 0 auto;
    height: 50px;
}

.slider {
    margin: 0 auto;
    min-height: 600px;
    float: left;
    height: 600px;
}

.slider_pic {
    width: 900px;
    height: 600px;
}

.name {
    position: absolute;
    font-size: 50px;
    color: whitesmoke;
    margin-top: 40px;
    margin-left: 20px;
}

.slogan {
    position: absolute;
    margin-top: 110px;
    font-size: 25px;
    color: whitesmoke;
    margin-left: 20px;
}

.logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 260px;
}

.main_menu {
    position: absolute;
    list-style-type: none;
    font-family: serif;
    font-size: 1.5em;
    margin-left: 30%;
    margin-top: 4.5%;
}

.main_menu li {
    display: inline-block;
}

.main_menu li a {
    text-decoration: none;
    color: ghostwhite;
    padding: 10px;
}

.active_link {
    border-bottom: 3px solid #4A0297;
}

.main_menu a:hover {
    color: #979AAA;
}

.features {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea
}

.features + p {
    color: #484343;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
}

.brief_desc {
    color: black;
    font-size: 16px;
    line-height: 16px;
}

.char {
    list-style-image: url(/static/img/marker.png);
    font-family: serif;
    font-style: italic;
    color: black;
    font-size: 16px;
}

.photo {
    outline: 4px solid black;
}

.footer {
    height: 200px;
    background-image: url(/static/img/body_texture.jpg);
    border-top: 2px solid whitesmoke;
    text-align: center;
    width: 100%;
    clear: both;
    margin: -200px auto 0;
}

.rights {
    margin-top: 90px;
    margin-right: 50px;
    font-family: serif;
    color: whitesmoke;
    font-size: 20px;
}

.contacts {
    margin: 0 auto;
    width: 550px;
    margin-top: 20px;
}

.form {
    font-family: serif;
    font-size: 22px;
    font-style: italic;
    color: whitesmoke;
}

fieldset input:nth-child(-n+4) {
    padding: 5px 20px;
    border: 4px solid lightgray;
    background-color: smokewhite;
    font-family: serif;
    font-style: italic;
    font-size: 18px;
    color: black;
    text-align: center;
}

input[type="text"] {
    margin-left: 110px;
    text-transform: capitalize;
}

input[type="telephone"] {
    margin-left: 1px
}

fieldset input:nth-child(n+5) {
    font-family: serif;
    font-style: italic;
    font-size: 18px;
    border: 4px solid lightgray;
    margin-top: 10px;
}

fieldset input:nth-child(n+5):hover {
    border-color: #555;
}

fieldset input:nth-child(-n+4):focus {
    border-color: #555;
}

fieldset input:nth-child(-n+4):hover {
    border-color: #555;
}

fieldset {
    border: 4px groove;
    padding: 20px;
}

.map_desc {
    width: 100%;
    max-width: 1536px;
    height: 667px;
    border-top: 2px solid white;
    text-align: center;
    color: whitesmoke;
    margin: 0 auto;
    float: left;
    margin-right: 4px;
    margin-top: 10px;
        }

.catalog div {
    width: 330px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.catalog a {
    text-decoration: none;
    font-family: serif;
    font-size: 16px;
    color: whitesmoke;
}

.catalog a:hover {
    color: black;
}

.good_body {
    background-color: #eaeaea;
    position: relative;
}

.good_desc {
    width: 595px;
    border: 4px solid black;
    position: absolute;
    margin-left: 916px;
    margin-top: -858px;
    text-align: center;
}

.headline {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    font-family: serif;
    margin: 0 20px;
}

.size_table legend {
    font-family: serif;
    font-size: 22px;
    font-style: italic;
    color: black;
}

.sizetable table {
    border-collapse: collapse;
}

.size_table fieldset {
    border: 4px groove grey;
    width: 300px;
    position: absolute;
    margin-left: 915px;
    margin-top: -220px;
}

.size_table td {
    border: 3px solid black;
    font-family: serif;
    padding: 10px;
    font-size: 18px;
    width: 40px;
    text-align: center;
}

.size_table td:hover {
    background-color: dimgrey;
    color: whitesmoke;
}

.buy_but {
    padding: 20px 40px;
    border: 4px groove black;
    font-family: serif;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    margin-left: 1310px;
    margin-top: -150px;
}

.buy_but:hover {
    background-color: dimgrey;
    color: whitesmoke;
}

.buy_but:active {
    background-color: dimgrey;
    color: deepskyblue;
    border-color: deepskyblue;
}

.productCell {
    margin: 20px;
    border: 2px solid whitesmoke;
    background-color: darkslateblue;
    width: 300px;
    float: left;
    margin-right: 2.31%;
}

.productCell span {
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: aliceblue;
}

.catalogMenu {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    background-color: darkslateblue;
}

.catalogMenu li {
    display: inline-block;
    text-decoration: none;
}

.catalogMenu > ul > li > a {
    padding: 8px;
    font-size: 20px;
    margin-left: 40px;
    text-decoration: none;
    font-style: italic;
    color: whitesmoke;
}

.catalogMenu > ul > li > a:hover {
    background-color: cornflowerblue;
}

.clearfix {
    content: " ";
    clear: both;
    display: table;
}

.active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.basket_container {
    margin: 25px auto;
    width: 700px;
}

.basket_list input[type="number"] {
    width: 3em;
    position: relative;
    display: block;
    float: left;
}

.basket_list span.category_name {
    margin-left: 2em;
    width: 5em;
    position: relative;
    display: block;
    float: left;
}

.basket_list span.product_name {
    margin-left: 1em;
    width: 8em;
    position: relative;
    display: block;
    float: left;
}

.basket_list span.product_price {
    margin-left: 1em;
    width: 7em;
    position: relative;
    display: block;
    float: left;
}

.basket_list span.product_cost {
    margin-left: 1em;
    width: 7em;
    position: relative;
    display: block;
    float: left;
}

.basket_list .basket_record {
    position: relative;
    display: block;
    height: 170px;
    float: none;
}

.basket_container .head {
    margin: 25px auto;
}

.basket_list .basket_record button {
    margin-top: 50px;
    margin-left: 390px;
    width: 150px;
    position: absolute;
    display: block;
    float: left;
}

.basket_list button {
    margin-left: 45px;
    width: 150px;
    display: block;
    float: left;
}

.productPage {
    position: relative;
}

.productInfo {
    float: left;
}

a.buttons {
    text-decoration: none;
    text-align: center;
    padding: 15px 40px;
    border: solid 2px #004F72;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    font: 24px serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #1e718c;
    background-image: -moz-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    background-image: -webkit-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    background-image: -o-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    background-image: -ms-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6d51a6', endColorstr='#6d51a6', GradientType=0);
    background-image: linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    -webkit-box-shadow: 0px 0px 10px #5a98e8, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 10px #5a98e8, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 10px #5a98e8, inset 0px 0px 1px #ffffff;
    text-shadow: 0px 0px 15px #bababa;
    filter: dropshadow(color=#bababa, offx=0, offy=0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a.buttons:hover {
    padding: 15px 40px;
    border: solid 2px #004F72;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    font: 24px serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #1e718c;
    background-image: -moz-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    background-image: -webkit-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    background-image: -o-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    background-image: -ms-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6d51a6', endColorstr='#6d51a6', GradientType=0);
    background-image: linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    -webkit-box-shadow: 0px 0px 15px #ffffff, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 15px #ffffff, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 15px #ffffff, inset 0px 0px 1px #ffffff;
    text-shadow: 0px 0px 15px #bababa;
    filter: dropshadow(color=#bababa, offx=0, offy=0);
}

a.buttons:active {
    padding: 15px 40px;
    border: solid 2px #004F72;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    font: 24px serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #1e718c;
    background-image: -moz-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    background-image: -webkit-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    background-image: -o-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    background-image: -ms-linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6d51a6', endColorstr='#6d51a6', GradientType=0);
    background-image: linear-gradient(top, #1e718c 0%, #6d51a6 100%);
    -webkit-box-shadow: 0px 0px 10px #c624fc, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 10px #c624fc, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 10px #c624fc, inset 0px 0px 1px #ffffff;
    text-shadow: 0px 0px 15px #bababa;
    filter: dropshadow(color=#bababa, offx=0, offy=0);
}

a.buttons{
    display: block;
    margin-top: 60px;
}
.productList {
    position: relative;
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    clear: both;
}

.current{
    color: whitesmoke;
}