<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>

<body>
<div class="header"><span class="name">Kingsman</span> <span class="slogan">Одежда для настоящих джентельменов</span>
    <img width="90" class="logo" src="/static/img//logo.png" alt="">
    <ul class="main_menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/catalog/">Каталог</a></li>
        <li><a href="/contacts/">Контакты</a></li>
    </ul>
</div>
<h1 class="headline">Каталог</h1>
<div class="body">
    <table class="catalog">
        <tr>
            <th>Костюм Carlione</th>
            <th>Костюм Pal Zileri</th>
            <th>Костюм Parlamenter</th>
        </tr>
        <tr>
            <td>
                <div>
                    <a href="suit1.html"><img width="300" height="400" src="/static/img//carlione.jpg" alt=""></a> <a
                        href="suit1.html">Подробное описание</a></div>
            </td>
            <td>
                <div>
                    <a href="suit3.html"><img width="300" height="400" src="/static/img//palzileri.jpg" alt=""></a> <a
                        href="suit3.html">Подробное описание</a></div>
            </td>
            <td>
                <div>
                    <a href="suit2.html"><img width="300" height="400" src="/static/img//parlamenter.jpg" alt=""></a> <a
                        href="suit2.html">Подробное описание</a></div>
            </td>
        </tr>
    </table>
</div>
<div class="footer">
    <p class="rights">&copy; Все права защищены</p>
</div>
</body>

</html>