{% extends 'mainapp/base.html' %}
{% load static %}
{% block bodyContent %}
    {% include 'mainapp/includes/inc__main_menu.html' %}
    <h1 class="headline">Каталог</h1>
    <table class="catalog">
        <tr>
            <th>Костюм Carlione</th>
            <th>Костюм Pal Zileri</th>
            <th>Костюм Parlamenter</th>
        </tr>
        <tr>
            <td>
                <div>
                    <a href="suit1.html"><img width="300" height="400" src="{% static 'img/carlione.jpg' %}" alt=""></a> <a
                        href="suit1.html">Подробное описание</a></div>
            </td>
            <td>
                <div>
                    <a href="suit3.html"><img width="300" height="400" src="{% static 'img/palzileri.jpg' %}" alt=""></a> <a
                        href="suit3.html">Подробное описание</a></div>
            </td>
            <td>
                <div>
                    <a href="suit2.html"><img width="300" height="400" src="{% static 'img/parlamenter.jpg' %}" alt=""></a> <a
                        href="suit2.html">Подробное описание</a></div>
            </td>
        </tr>
    </table>
{% endblock %}
