{% extends 'mainapp/base.html' %}
{% load static %}
{% block bodyContent %}
    {% include 'mainapp/includes/inc__main_menu.html' %}
    <div class="container"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quia voluptatum enim,
        architecto nihil repellat dignissimos quasi iusto optio reiciendis ab, non numquam veritatis facilis nam fuga
        voluptate dolorum quos repellendus cumque at ad! Provident recusandae suscipit explicabo magnam, repellendus
        accusantium aut expedita hic nam, neque atque, consectetur fugiat unde.</p></div>
{% endblock %}
