<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
    <link rel="stylesheet" href="styles.css"> </head>

<body>
    <div class="header"> <span class="name">Kingsman</span> <span class="slogan">Одежда для настоящих джентельменов</span> <img width="90" class="logo" src="img/logo.png" alt="">
        <ul class="main_menu">
            <li><a href="index.html">Главная</a></li>
            <li><a href="catalog.html">Каталог</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </div>
    <div class="body">
        <div class="container"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quia voluptatum enim, architecto nihil repellat dignissimos quasi iusto optio reiciendis ab, non numquam veritatis facilis nam fuga voluptate dolorum quos repellendus cumque at ad! Provident recusandae suscipit explicabo magnam, repellendus accusantium aut expedita hic nam, neque atque, consectetur fugiat unde.</p> </div>
    </div>
    <div class="footer">
        <p class="rights">&copy; Все права защищены</p>
    </div>
</body>

</html>